{% extends 'reviews/base.html' %}

{% block styles %}

        /* Add your custom CSS styles here */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .profile {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 24px;
            color: #333333;
            margin-top: 0;
        }
        p {
            margin-bottom: 10px;
        }
        .profile{
           text-align: center;
       }
       .login-button {
            background-color: #337ab7;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }
        #pr{
  color: #fff;
}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile">
            <h1 class="main_word">User Profile</h1>
            <p>Here will be the profile of the user when they log on.</p>
            <a href="/login" class="login-button">Login</a>
            <!-- Add more profile information here -->
        </div>
    </div>
{% endblock %}